
// Utility Classes


// Margin

.util-m-1 {
	margin: $base-spacing-unit;
}

// Margin Top

.util-m-t-1 {
	margin-bottom: $base-spacing-unit;
}
.util-m-t-3 {
	margin-top: 3 * $base-spacing-unit;
}
.util-m-t-4 {
	margin-top: 4 * $base-spacing-unit;
}
.util-m-t-5 {
	margin-top: 5 * $base-spacing-unit;
}

// Margin Bottom

.util-m-b-1 {
	margin-bottom: $base-spacing-unit;
}


// Padding

.padding-1 {
	padding: $base-spacing-unit;
}

// text align
.util-text-right {
	text-align: right;
}

// Float

.util-float-right {
	float: right;
}
.util-float-left {
	float: left;
}


// Whitespace Reset
.util-whitespace-reset {
	font-size: 0;

	> * {
		font-size: 1rem;
	}
}
