
// Base page styles

html {
	font-size: 16px;
	@include media-query(palm) {
		font-size: 14px;
	}
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,
body * {
	box-sizing: border-box;
}

body {

	background-color: $body-background-color;
	margin: 0;

	// flexbox sticky footer
	display: flex;
	min-height: 100vh;
	flex-direction: column;


	// For the diagonals
	position: relative;

	background-image:
    linear-gradient(
      to bottom,
      colour(primary),
      colour(primary) 110px,
      transparent 110px,
      transparent 100%
    );

}

//
// The diagnol backgrounds

footer {
	position: relative;
}

body:before,
footer:before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	left: 0;
}

body:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 100vw 200px 0;
	border-color: transparent colour(primary) transparent transparent;

	top: 104px;
}

footer:before {

	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 200px 100vw;
	border-color: transparent transparent colour(secondary) transparent;

	top: -200px;
}


.page-content {
  flex: 1;
}

.inner-constraint {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 $base-spacing-unit;

	@include media-query(palm) {
		padding: 0 ($base-spacing-unit * .7);
	}
}

body > .inner-constraint {
	margin-top: $header-height;
	margin-bottom: $base-spacing-unit;

	@include media-query(palm) {
		margin-top: 250px;
	}
}
