
// Browser frame for images

// browser-button base styles, to be extend 3 times and coloured differently
%browser-button {
	border-radius: 100%;
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
}
$browser-button-red: #FF5F56;
$browser-button-orange: #FFBD2E;
$browser-button-green: #29C73D;


.browser {

	position: relative;

	> img {
		border: 3px solid #F0F0F0;
		border-top-width: 25px;
		border-radius: 3px;
	}
}

.browser__buttons {
	top: 10px;
	left: 40px;
	@extend %browser-button;
	background-color: $browser-button-green;

	&:before {
		@extend %browser-button;
		background-color: $browser-button-orange;
		margin-left: -15px;
		content: "";
	}
	&:after {
		@extend %browser-button;
		background-color: $browser-button-red;
		margin-left: -30px;
		content: "";
	}
}
