
// header

$header-animate-time: $animation-time-fast;

.header {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	transition: top $header-animate-time ease-in;

	// Add this class to the body using javascript when scrolling down, to hide the header
	.scrolling-down & {
		top: - $header-height;
	}

	// Reverse the display order on tablet and up
	.logo {
		float: left;

		// put the logo under the header and centered on palm
		@media (max-width: 710px) {
			position: absolute;
			top: 75px;
			left: 50%;
			transform: translateX(-50%);
			z-index: -2;

			.scrolling-down & {
				top: - $logo-height;
			}

		}
	}

	.nav {

		float: right;

		@media (max-width: 400px) {
			> ul {
				flex-wrap: wrap;
			}
		}

		@media (max-width: 710px) {
			float: none;
			display: block;
			margin-left: 0;
			> ul {
				display: flex;
			}
			li {
				flex: 1;
			    text-align: center;
			}
		}
	}

}

// The slanted white box
// TODO: do this with an after element and SVG as its broken on wide screens
.header__background {

	background: white;
	transform: rotate(1deg);
	z-index: -1;

	height: 90px;
	position: absolute;
	top: -1vw;
	left: 0;
	right: -5px;

	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);


	@media (max-width: 400px) {
		height: 130px;
	}
}
