
// Icons

.icon {
	display: block;
	width: $base-icon-size + 10;
	height: $base-icon-size;
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 0;
}

// M: show the icon text
.icon--show-label {
	font-size: inherit;
	width: auto;
	padding-left: $base-icon-size + 20;
	background-position: 10px;
}

.icon--github {
	background-image: url("../img/icons/github.svg");
}
.icon--twitter {
	background-image: url("../img/icons/twitter.svg");
}
.icon--email {
	background-image: url("../img/icons/email.svg");
}
.icon--featured {
	background-image: url("../img/icons/featured.svg");
}
