
// Nav

.nav {

	display: inline-block;
	vertical-align: top;
	font-size: 1.5rem;
	margin-left: 2rem;

	li {
		display: inline-block;
		padding: 1rem;
	}

}

.nav a {

	text-decoration: none;

	border-bottom: 3px solid transparent;
	padding-bottom: 3px;

	&:hover {
		border-bottom-color: $grey;
	}
	&.active {

		border-bottom-color: $body-background-color;
	}

}
