
// Section

.content-box {

	background: white;
	padding:  $base-spacing-unit;
	margin-bottom:  $base-spacing-unit * 2;
	box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.20);

	@include media-query(palm) {
		padding: $base-spacing-unit * .7;
	}
}
