
// Tags

.tags {
	margin-bottom: $base-spacing-unit / 2;

}
.tag {
	color: colour(utility, neutral);
	border: 1px solid;
	border-radius: 2px;
	padding: 0 4px;
}


.tag--blog {
	color: colour(utility, neutral);
}
.tag--portfolio {
	color: colour(utility, warning);
}
