.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.grid {
  list-style: none;
  margin: 0 0 0 -1.92rem;
  padding: 0;
  font-size: 0;
}

.grid__item {
  display: inline-block;
  padding-left: 1.92rem;
  vertical-align: top;
  width: 100%;
  font-size: 1.2rem;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width:669px) {
  html {
    font-size: 14px;
  }
}

body,
body * {
  box-sizing: border-box;
}

body {
  background-color: #f1f1ee;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(to bottom,#e6790e,#e6790e 110px,transparent 110px,transparent 100%);
}

body:before {
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
}

body:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 200px 0;
  border-color: transparent #e6790e transparent transparent;
  top: 104px;
}

.page-content {
  -ms-flex: 1;
  flex: 1;
}

.inner-constraint {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 1.92rem;
}

@media only screen and (max-width:669px) {
  .inner-constraint {
    padding: 0 1.344rem;
  }
}

body>.inner-constraint {
  margin-top: 220px;
  margin-bottom: 1.92rem;
}

@media only screen and (max-width:669px) {
  body>.inner-constraint {
    margin-top: 250px;
  }
}

@font-face {
  font-family: ridley_groteskbold;
  src: url(../fonts/ridleygrotesk-bold-webfont.woff2) format("woff2"),url(../fonts/ridleygrotesk-bold-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

.heading,
h1,
h2 {
  font-family: ridley_groteskbold,Roboto,sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: .34em;
  line-height: 1.3;
  display: block;
}

.heading--alpha {
  font-size: 2.7em;
}

h1 {
  font-size: 2em;
}

.heading--gamma,
h2 {
  font-size: 1.6em;
}

body {
  font-family: Roboto,sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #1c1c1c;
}

p {
  margin: 0 0 1em;
}

a {
  color: inherit;
}

.page-content a {
  font-weight: 700;
  text-decoration: underline;
}

.content-box a {
  color: #e6790e;
}

.heading a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.tags {
  margin-bottom: .96rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header .logo {
  float: left;
}

@media (max-width:710px) {
  .header .logo {
    position: absolute;
    top: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -2;
  }
}

.header .nav {
  float: right;
}

@media (max-width:400px) {
  .header .nav>ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width:710px) {
  .header .nav {
    float: none;
    display: block;
    margin-left: 0;
  }

  .header .nav>ul {
    display: -ms-flexbox;
    display: flex;
  }

  .header .nav li {
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
}

.header__background {
  background: #fff;
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  z-index: -1;
  height: 90px;
  position: absolute;
  top: -1vw;
  left: 0;
  right: -5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.nav {
  display: inline-block;
  vertical-align: top;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.nav li {
  display: inline-block;
  padding: 1rem;
}

.nav a {
  text-decoration: none;
  border-bottom: 3px solid transparent;
  padding-bottom: 3px;
}

.nav a.active {
  border-bottom-color: #f1f1ee;
}

.logo {
  font-family: ridley_groteskbold;
  font-size: 32px;
  text-decoration: none;
  line-height: 1;
  padding-top: 70px;
  padding-left: 25px;
  display: inline-block;
  width: 210px;
  height: 200px;
  position: relative;
}

.logo span {
  position: relative;
}

.logo span:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 4px;
  height: 8px;
  width: 100%;
  z-index: -1;
  background: #e6790e;
}

.logo:after,
.logo:before {
  content: "";
  display: block;
  position: absolute;
  height: 200px;
  width: 210px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.logo:before {
  background-image: url(../img/logo/fill.svg);
  top: 0;
  left: 0;
}

.logo:after {
  background-image: url(../img/logo/border.svg);
  top: 10px;
  left: 10px;
}

.content-box {
  background: #fff;
  padding: 1.92rem;
  margin-bottom: 3.84rem;
  box-shadow: 2px 4px 4px 0 rgba(0,0,0,.2);
}

@media only screen and (max-width:669px) {
  .content-box {
    padding: 1.344rem;
  }
}

.article-summary {
  margin-bottom: 1rem;
  position: relative;
}

.article-summary__more {
  float: right;
}
