
// Variables
@import "variables/variables";
@import "variables/colours";

// Tools
@import "tools/visuallyhidden";
@import "tools/list-reset";
@import "tools/img";
@import "tools/utility";
@import "tools/clearfix";
@import "tools/font-size-mixin";
@import "tools/media-query-mixin";

// Grid
@import "grid/base";
@import "grid/widths";
@import "grid/widths--responsive";

// Patterns
@import "patterns/base";
@import "patterns/typography";
@import "patterns/links";
@import "patterns/icons";
@import "patterns/billboard";
@import "patterns/blockquote";
@import "patterns/code";
@import "patterns/divider";
@import "patterns/browser";
@import "patterns/tags";
@import "patterns/message";
//@import "patterns/button"; Not currently in use
@import "patterns/header";
@import "patterns/nav";
@import "patterns/logo";
@import "patterns/section";
@import "patterns/footer";
@import "patterns/form";

// Third Party



.cols-3 {
    columns: 300px 3;
    > article {
        // display: inline-block;
        break-inside: avoid;
        padding-bottom: 1rem; // rework vertical rhythm to stop box-shadow overflowing columns
    }

}

hr.divider {
    margin: 0;
    margin-bottom: $base-spacing-unit;
    border: 1px solid currentColor;
    opacity: .4;

}

.article-summary {

    margin-bottom: 1rem;
    position: relative;

    > .icon {
        position: absolute;
        top: $base-spacing-unit;
        right: $base-spacing-unit;
        font-size: 0;
        width: $base-icon-size *2;
        height: $base-icon-size *2;
    }
    > .icon + .heading {
        margin-right: $base-icon-size;
    }
}
.article-summary__more {
    float: right;

}
