{% include head.html %}

{% include header.html %}


	<main class="inner-constraint page-content">

		<h1 class="heading heading--alpha">{{ page.title }}</h1>

		<div class="grid">
			<div class="grid__item">
				{% assign posts = site.posts %}
				{% for post in posts %}
					{% include post-summary.html %}
				{% endfor %}
			</div>
			<div class="grid__item">
				<!-- Filter by tag
				<ul>
					<li>Learning</li>
					<li>Thoughts</li>
					<li>Code Example</li>
					<li>Design</li>
				</ul>
				Filter by age
				<ul>
					<li>2016</li>
					<li>2015</li>
					<li>2014</li>
				</ul> -->
			</div>
		</div>

		{% include pattern-back-to-top.html %}

	</main>

<style>
	/*.grid__item {
		width: 75%;
	}
	.grid__item + .grid__item {
		width: 25%;
	}*/
</style>
{% include footer.html %}
{% include foot.html %}
