{% include head.html %}

{% include header.html %}

	{% if page.path contains '_posts' %}
		<article class="inner-constraint page-content">
	{% else %}
		<main class="inner-constraint page-content">
	{% endif %}

		<span>{{ page.collection | capitalize }}</span>
		<h1 class="page__title heading heading--alpha">{{ page.title }}</h1>

		{% comment %} if the page has content (in the markdown file), output it in a content-box {% endcomment %}
		{% if page.content != "" %}
			<div class="content-box">

				{% if page.path contains '_posts' %}
					{% assign todays_date = site.time | date: "%y%m%d" %}
					{% assign post_date = page.date | date: "%y%m%d" %}
					{% capture cutoff_date %}{{ post_date | plus: 010000 }}{% endcapture %}

					{% if todays_date > cutoff_date %}
						<aside class="message message--neutral">This post is somewhat dated. I try to update old posts as I learn, but this one might have slipped in under the radar.</aside>
					{% endif %}
				{% endif %}

				{{ content }}

				{% if page.link %}
					<a href="{{page.link}}" target="_blank">View the site</a>
				{% endif %}
			</div>
		{% endif %}
		<div class="grid">
			<div class="grid__item one-half">
				{% if page.next.url %}
					<span class="heading heading--zeta">Previous</span>
					<a class="next" href="{{page.next.url}}"> &laquo; {{page.next.title}}</a>
				{% endif %}
			</div>
			<div class="grid__item one-half util-text-right">
				{% if page.previous.url %}
					<span class="heading heading--zeta">Next</span>
					<a class="prev" href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
				{% endif %}
			</div>
		</div>

	{% if page.path contains '_posts' %}
			<a href="/blog/" class="util-float-right">Blog Home</a>
		</article>
	{% else %}
		</main>
	{% endif %}

{% include footer.html %}

{% include foot.html %}
