{% include head.html %}

{% include header.html %}

<main class="inner-constraint page-content">
	<div class="content-box">

		<h1>{{ page.title }}</h1>
		{{ page.content }}

		{% for pattern in site.style-guide %}
			<hr class="divider">
			<h2>{{ pattern.title }}</h2>
			<div>{{ pattern.description }}</div>
			<div>{{ pattern.content }}</div>
			{% highlight html %}{{ pattern.content }}{% endhighlight %}
		{% endfor %}

	</div>

	{% include pattern-back-to-top.html %}
	
</main>

{% include footer.html %}

{% include foot.html %}
