
// Form input styles

.text-input,
.checkbox {
    background: colour(neutral, 10);
    border-radius: 2px;
    border: 2px solid colour(neutral, 90);
}

.text-input {
    display: block;
    padding: $base-spacing-unit / 4;
    font-size: inherit;
    margin-bottom: $base-spacing-unit / 2;

    &:focus {
        outline: none;
        background: colour(neutral, 0);
    }

    &--full {
        width: 100%;
    }
}

.label {
    cursor: pointer;
}


.reset-fieldset {
    border: none;
}


.checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 2em;
    height: 2em;

    &,
    + label {
        vertical-align: middle;
    }

    &:checked {
        background: colour(neutral, 0);
        background-image: url("/assets/img/icons/tick.svg");
        background-size: cover;
    }
}
